.confirm-modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(0 0 0 / 0.5);
}

.confirm-modal__bg {
    background-color: white;
    padding: 1.5rem 1.5rem;
    border-radius: 8px;
    position: relative;
}

.modal-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 400px;
    height: max-content;
}

.modal-header {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.modal-info {
    color: #374151;
}

.modal-selection {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.confirm-button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background: #0d6efd;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background 0.15s;
    border: none;
}

.confirm-button:hover {
    background: #0a58ca;
}

.danger-button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background: #dc3545;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background 0.15s;
    border: none;
}

.danger-button:hover {
    background: #b02a37;
}

.cancel-button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    background: #dee2e6;
    color: black;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background 0.15s;
    border: none;
}

.cancel-button:hover {
    background: #ced4da;
}

.modal-close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    color: inherit;
}