.sidebar {
  width: 260px;
  min-width: 260px;
  background: #fbf9f7;
  border-right: 0.5px solid var(--color-border-tertiary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-header {
  padding: 16px;
  border-bottom: 0.5px solid var(--color-border-tertiary);
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.sidebar-logo-icon {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  background: #D85A30;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.sidebar-logo-text {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-text-primary);
}

.new-chat-btn {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 0.5px solid black;
  background: transparent;
  color: var(--color-text-primary);
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background 0.15s;
}

.new-chat-btn:hover {
  background: #f8d3c7;
}

.dropdown-profile {
  left: 8rem;
  position: absolute;
  bottom: 5rem;
  width: max-content;
  padding: 12px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid gray;
}